.video-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shield {
	position: absolute;
	z-index: 10;

	width: 100vw;
	height: 100vh;
}
